@font-face {
    font-family: 'arpa_schulbuchbold';
    src: url('arpaschulbuch-bold-webfont.eot');
    src: url('arpaschulbuch-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('arpaschulbuch-bold-webfont.woff2') format('woff2'),
         url('arpaschulbuch-bold-webfont.woff') format('woff'),
         url('arpaschulbuch-bold-webfont.ttf') format('truetype'),
         url('arpaschulbuch-bold-webfont.svg#arpa_schulbuchbold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'arpa_schulbuchroman';
    src: url('arpaschulbuch-roman-webfont.eot');
    src: url('arpaschulbuch-roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('arpaschulbuch-roman-webfont.woff2') format('woff2'),
         url('arpaschulbuch-roman-webfont.woff') format('woff'),
         url('arpaschulbuch-roman-webfont.ttf') format('truetype'),
         url('arpaschulbuch-roman-webfont.svg#arpa_schulbuchroman') format('svg');
    font-weight: normal;
    font-style: normal;

}