@font-face {
    font-family: 'SchulbuchNord';
    src: url('fonts/SchulbuchNord-Normal.eot');
    src: url('fonts/SchulbuchNord-Normal.eot?#iefix') format('embedded-opentype'),
         url('fonts/SchulbuchNord-Normal.woff') format('woff'),
         url('fonts/SchulbuchNord-Normal.svg') format('svg'),
         url('fonts/SchulbuchNord-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SchulbuchSued';
    src: url('fonts/SchulbuchSued-Normal.eot');
    src: url('fonts/SchulbuchSued-Normal.eot?#iefix') format('embedded-opentype'),
         url('fonts/SchulbuchSued-Normal.woff') format('woff'),
         url('fonts/SchulbuchSued-Normal.svg') format('svg'),
         url('fonts/SchulbuchSued-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}