@import "sanitize"
@import "helpers"

$cols = 12
$col = 54px
$gutter = 32px
.container
  margin: 0 auto
  width: ($col * $cols)+($gutter * $cols)
.row
  clear: both
.col
  float: left
  margin-left: ($gutter/2)
  margin-right: ($gutter/2)
  box-sizing: content-box
for col in 1..$cols
  .col{col}
    width: ( col * $col ) + ( ( col - 1 ) * $gutter )

// VARIABLES

$margin-small = ($gutter)
$margin-basic = ($gutter*2)
$margin-large = ($gutter*5)

$font-size-basic = 15px
$font-leading-basic = 1.35em
$font-tracking-basic = 0.001em

$color-black-soft = rgb(14,14,14)
$color-white-soft = rgb(253,253,253)

$color-blue = rgb(0,0,255)


// TYPOGRAPHY

body
  font-family:helvetica,arial,sans-serif
  font-size: $font-size-basic
  line-height: $font-leading-basic
  letter-spacing: $font-tracking-basic

h1
  font-size: 3em

h2
  font-size: 1.2em
  font-weight: normal
  display: block
  text-align: center
  margin: $margin-basic 0
  span
    border-bottom: 1px solid $color-white-soft

h3
  font-size: 1.5em

p
  margin-bottom: 1em
  
li
  list-style: none


// LINKS

a,a:active,a:visited
  color:inherit
  transition:opacity .2s
  &:hover
    opacity:.5


// BASIC

html
  background-color: $color-blue
  color: $color-white-soft

img
  max-width: 100%
  height: auto


//the 100% widths are just so stylus can compile delete as desired

// SPLASH

#splash 
  width: 100%
  height: 100%
  top: 0
  left: 0
  position: fixed
  z-index: 999
  
#splash-arpa, #splash-noon
  width: 50%
  height: 100%
  top: 0
  position: absolute
  cursor: pointer 

.splash-text
  width: 100%
  height: 100%
  position: absolute
  top: 0
  left: 0
  background-size: 100%
  background-position: center
  background-repeat: no-repeat
  font-size: 0

#splash-arpa
  background-color: $color-white-soft
  left: 0
  .splash-text
    background-image: url('../img/svg/arpa_blue.svg')
  
#splash-noon
  left: 50%
  background-color: $color-blue
  background-size: cover
  background-position: center
  background-repeat: no-repeat
  .splash-text
    background-image: url('../img/svg/noon_white.svg')

// HEADER

#header
  width: 100%
  
.nav
  position: fixed
  text-transform: uppercase
  font-size: .9em
  a
    text-decoration: none
  
#nav-top-left
  top: 2%
  left: 2%
  
#nav-top-right
  top: 2%
  right: 2%
  
#nav-bottom-right
  bottom: 2%
  right: 2%

#nav-bottom-left
  bottom: 2%
  left: 2%
  
// HOME

#home 
  p, li
    font-size: 2em
    text-align: center
    line-height: $font-leading-basic
  ul 
    -webkit-column-count: 2
    -webkit-column-gap: $gutter
    column-count: 2
    column-gap: $gutter

// POSTS LOOP
#posts
  width: 100%

.post
  width: 100%

#pagination
  width: 100%


// FOOTER

#footer
  width: 100%


// MEDIA QUERIES

@media screen and (max-width: ($col * $cols)+($gutter * $cols))
  html
    width: 100%
